<launch>
  <arg name="camera" value="/camera/rgb"/>
  <arg name="apriltag_ns" value="apriltag_ros_continuous_node"/>

  <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
    <arg name="camera_name" value="$(arg camera)"/>
    <arg name="image_topic" value="image_rect_color"/>
    <arg name="camera_frame" value="camera_rgb_optical_frame"/>
  </include>

  <rosparam command="load" file="$(find my_sim)/config/tags.yaml" ns="$(arg apriltag_ns)"/> 
  <rosparam command="load" file="$(find my_sim)/config/settings.yaml" ns="$(arg apriltag_ns)"/>

  <node pkg="image_proc" type="image_proc" name="image_proc" ns="$(arg camera)"/>

  <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find slam_toolbox)/config/mapper_params_online_sync.yaml" />
  </node>

</launch>
